<a href="https://colab.research.google.com/github/GhanshamSoomarani/Data-Science-Analytics/blob/main/20sw081(Lab_05).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Task 1

In [ ]:
import pandas as pd

# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index and the distance from the Sun as data.
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']
dist_planets = pd.Series(distance_from_sun, index=planets)

# Calculate the number of minutes it takes sunlight to reach each planet.
speed_of_light = 18  # Speed of light in 10^6 km/minute
time_light = dist_planets / speed_of_light

# Use Boolean indexing to select only those planets for which sunlight takes less than 40 minutes to reach them.
close_planets = dist_planets[time_light < 40]

print("Distance from Sun (10^6 km):\n", dist_planets)
print("\nTime for sunlight to reach each planet (minutes):\n", time_light)
print("\nPlanets where sunlight takes less than 40 minutes to reach:\n", close_planets)

Distance from Sun (10^6 km):
 Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

Time for sunlight to reach each planet (minutes):
 Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

Planets where sunlight takes less than 40 minutes to reach:
 Earth    149.6
Mars     227.9
Venus    108.2
dtype: float64

Task 2

In [1]:
#Task 2
import pandas as pd
import numpy as np

# Set the display precision for floating-point numbers
pd.set_option('display.precision', 1)

# Create a Pandas DataFrame that contains the ratings some users have given to a series of books.
books = pd.Series(data=['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland'])
authors = pd.Series(data=['Charles Dickens', 'John Steinbeck', 'William Shakespeare', 'H. G. Wells', 'Lewis Carroll'])
user_1 = pd.Series(data=[3.2, np.nan, 2.5])
user_2 = pd.Series(data=[5.0, 1.3, 4.0, 3.8])
user_3 = pd.Series(data=[2.0, 2.3, np.nan, 4.0])
user_4 = pd.Series(data=[4.0, 3.5, 4.0, 5.0, 4.2])

# Create a dictionary with the data given above
dat = {
    'Book Title': books,
    'Author': authors,
    'User 1': user_1,
    'User 2': user_2,
    'User 3': user_3,
    'User 4': user_4
}

# Use the dictionary to create a Pandas DataFrame
book_ratings = pd.DataFrame(dat)

# Calculate the mean ratings for each column (excluding NaN values)
average_ratings = book_ratings.mean()

# Replace NaN values with the average ratings in each column
book_ratings.fillna(average_ratings, inplace=True)

# Print the updated DataFrame
print(book_ratings)

            Book Title               Author  User 1  User 2  User 3  User 4
0   Great Expectations      Charles Dickens     3.2     5.0     2.0     4.0
1      Of Mice and Men       John Steinbeck     2.9     1.3     2.3     3.5
2     Romeo and Juliet  William Shakespeare     2.5     4.0     2.8     4.0
3     The Time Machine          H. G. Wells     2.9     3.8     4.0     5.0
4  Alice in Wonderland        Lewis Carroll     2.9     3.5     2.8     4.2

<ipython-input-1-9d3510ffea93>:30: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  average_ratings = book_ratings.mean()