<a href="https://colab.research.google.com/github/GhanshamSoomarani/Data-Science-Analytics/blob/main/20SW081(Lab_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [ ]:
#Task 1
points = int(input("Enter point you get?"))
prize_name =""
if points > 0 and points <= 50:
  prize_name = "wooden rabbit"
elif points >= 51 and points <= 150:
  prize_name = "no prize"
elif points >= 150 and points <= 180:
  prize_name = "water thin mint"
elif points >= 181 and points <= 200:
  prize_name = "penguin"
else:
  no_point="oh! dear, no prize this time"
print(f"Congratulation! you won a {prize_name}")

Enter point you get?180
Congratulation! you won a water thin mint

Task 2

In [ ]:
#Task 2
answer = 81
guess = ""
if answer < 81:
  result = "Oops! Your guess was too low."
elif answer >81:
  result = "Oops! Your guess was too high."
elif answer == 81:
  result = "Nice! Your guess matched the answer!"
print(result)

Nice! Your guess matched the answer!

Task 3

In [ ]:
#Task 3
amount = float(input("Enter X amount for what you wanna find tax?"))
state =input("Enter State you wanna find tax on amount").upper()
tax_amount = 1
if state == "CN":
  tax_amount = (amount*7.5)/100
elif state == "MN":
  tax_amount = (amount*9.5)/100
elif state == "NY":
  tax_amount = (amount*8.9)/100
else:
  no_state_match="You are entering an other state"
print(f"tax of {state} on your {amount} is {tax_amount}")

Enter X amount for what you wanna find tax?100
Enter State you wanna find tax on amountCN
tax of CN on your 100.0 is 7.5

Task 4

In [ ]:
#Task 4
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for i in sentence:
  print(i)

the
quick
brown
fox
jumped
over
the
lazy
dog

Task 5

In [ ]:
#Task 5
for i in range(1,31):
  if i%5==0:
    print(i)

5
10
15
20
25
30

Task 6

In [ ]:
#Task 6
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names =  [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

Task 7

In [ ]:
#Task 7
three = [i*3 for i in range(1,21) ]
print(three)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

Task 8

In [ ]:
#Task 8
scores = {
"Rick Sanchez": 70,
"Morty Smith": 35,
"Summer Smith": 82,
"Jerry Smith": 23,
"Beth Smith": 98
}
passed =  [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

Task 9

In [ ]:
#Task 9
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

Task 10

In [ ]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
for i, name in enumerate(cast):
    cast[i] = f"{name} {heights[i]}"
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']